node_modules
.DS_Store
dist
scripts/*.js

*.lock
package-lock.json
pnpm-lock.yaml
!yarn.lock

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
!data/logs
!data/logs/*.log

dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.code-workspace
